{% load static %}
{% load cart_template_tags %}
{% load wishlist_template_tags %}
{% load cart_total_price_tags %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AURORA</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
	<link rel="stylesheet" href="https://toert.github.io/Isolated-Bootstrap/versions/4.0.0-beta/iso_bootstrap4.0.0min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <style>
        .fa-heart-o:hover {
          pointer-events: none; /* disable the icon on hover */
          color: black; /* change the color of the outline to black */
        }
        .fa-heart-o {
          pointer-events: none; /* disable the icon on hover */
          color: black; /* change the color of the outline to black */
        }
        </style>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__option">
            <div class="offcanvas__links">
                {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">Sign out</a>
                {% else %}
                <a href="{% url 'login' %}">Sign in</a>
                {% endif %}
            </div>

        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
            {% if request.user.is_authenticated %}
            <a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a>
            <a href="{% url 'cart' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>{{request.user|cart_item_count}}</span></a>
            <div class="price">${{request.user|cart_total_price}}</div>
            {% else %}
            <a href="#"><img src="{%static 'img/icon/heart.png' %}" alt=""></a>
            <a href="#"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
            {% endif %}
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__text">
            <p>Free shipping, 30-day return or refund guarantee.</p>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <div style="position:absolute;z-index: 10; background-color:rgba(255,255,255,0)" id="message" class="bootstrap container">
        {% if messages %}
                {% for message in messages %}
                <div align="center" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
        {% endif %}
        </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}">Sign out</a>
                                {% else %}
                                <a href="{% url 'login' %}">Sign in</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <!-- <a href="{% url 'home' %}"><img src="#" alt=""></a> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'store' %}">Store</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'contact' %}">Contacts</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a >Dashboard</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'dashboard' %}">View Dashboard</a></li>
                                        {% if request.user.is_staff %}
                                        <li><a href="/admin/">Admin Dashboard</a></li>
                                        {% endif %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'wishlist' %}"><img src="{%static 'img/icon/heart.png' %}" alt=""></a>
                        <a href="{% url 'cart' %}"><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>{{request.user|cart_item_count}}</span></a>
                        <div class="price">${{request.user|cart_total_price}}</div>
                        {% else %}
                        <span><img src="{%static 'img/icon/heart.png' %}" alt=""></span>
                        <span><img src="{% static 'img/icon/cart.png' %}" alt=""> <span>0</span></span>
                        <div class="price">$0.00</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    {% block content %}
	{% endblock %}

    {% include 'app/footer.html' %}

    <!-- Js Plugins -->
	<script>
		var message_ele = document.getElementById("message");
		setTimeout(function(){ 
	   message_ele.style.display = "none"; 
	}, 3000);
	
	</script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>