{% extends 'app/base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Store</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url 'home' %}">Home</a>
                            <span>Store</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <form method="POST" class="shop__sidebar">
                        {% csrf_token %}
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    {% for category in categories %}
                                                        {% with num_items=category.item_set.all|length %}
                                                            <li>
                                                                <div class="checkout__input__checkbox">
                                                                    <label for="{{ category.name }}">
                                                                        {{ category.name }} ({{ num_items }})
                                                                        <input name="category_name" type="checkbox" id="{{ category.name }}" value="{{ category.name }}">
                                                                        <span class="checkmark"></span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        {% endwith %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    {% for brand in brands %}
                                                    <li>
                                                        <div class="checkout__input__checkbox">
                                                            <label for="{{brand.name}}">
                                                                {{brand.name}}
                                                                <input name="brand_name" type="checkbox" id="{{brand.name}}" value="{{brand.name}}">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                    </div>
                                    <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__price">
                                                <label for="min-price-range">Minimum Price:</label>
                                                <input type="range" id="min-price-range" name="min-price" min="0" max="100000" step="1" oninput="updateMinPriceRange()">
                                                <output for="min-price-range" id="min-price-output">$0.00</output>
                                                <br>
                                                <label for="max-price-range">Maximum Price:</label>
                                                <input type="range" id="max-price-range" name="max-price" min="0" max="100000" step="1" oninput="updateMaxPriceRange()">
                                                <output for="max-price-range" id="max-price-output">$100000.00</output>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Size</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    {% for size in sizes %}
                                                    <li>
                                                        <div class="checkout__input__checkbox">
                                                            <label for="{{size.size}}">
                                                                {{size.size}}
                                                                <input name="size_name" type="checkbox" id="{{size.size}}" value="{{size.size}}">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseTwo">Color</a>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__brand">
                                                <ul>
                                                    {% for color in colors %}
                                                    <li>
                                                        <div class="checkout__input__checkbox">
                                                            <label for="{{color.color}}">
                                                                {{color.color}}
                                                                <input name="color_name" type="checkbox" id="{{color.color}}" value="{{color.color}}">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">filter</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for item in items %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{ item.itemimage_set.first.imageURL }}" >
                                        <ul class="product__hover">
                                            <li>
                                                <a href="{{item.get_add_to_wishlist_url}}">
                                                    {% if item in wishlist %}
                                                    <i style="color:red;"  class="fa fa-heart fa-lg" aria-hidden="true"></i>
                                                    {% else %}
                                                    <i  class="fa fa-heart-o fa-lg" aria-hidden="true"></i>
                                                    {% endif %}
                                                </a>
                                            </li>   
                                        </ul>
                                    </div>
                                <div class="product__item__text">
                                    <h6>{{item.name}}</h6>
                                    {% if item.out_of_stock %}
                                    <a class="add-cart">Currently out stock</a>
                                    {% else %}
                                    <a  href="{{item.get_add_to_cart_url}}" class="add-cart">+ Add To Cart</a>
                                    {% endif %}
                                    <div class="rating">
                                        {% if item.get_average_rating > 0 %}
                                            {% with rating=item.get_average_rating %}
                                            {% for i in "12345" %}
                                            {% if i|add:"-1" < rating %}
                                            <i style="color:#F2B600" class="fa fa-star"></i>
                                            {% else %}
                                            <i style="color:#F2B600" class="fa fa-star-o"></i>
                                            {% endif %}
                                            {% endfor %}
                                            {% endwith %}
                                        {% else %}
                                        <span style="font-size: 14px;">No rating yet</span>
                                        {% endif %}
                                    </div>
                                    {% if item.discount_price %}
                                    <h6 style="display:inline-block; text-decoration: line-through;">${{item.price}}</h6>
                                    <h5 style="display:inline-block; margin-left:5px;">${{item.discount_price}}</h5>
                                    {% else %}
                                    <h5>${{item.price}}</h5>
                                    {% endif %}
                                        <div class="product__color__select">
                                            <button class="btn btn-info" onclick="location.href='{% url 'item-detail' item.id %}'">View Item</button>
                                        </div>
                                      
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <span>...</span>
                                <a href="#">21</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <script>
        window.onload = function() {
            // Set the minimum price slider to a default value of 0
            document.getElementById("min-price-range").value = 0;
            updateMinPriceRange(); // Update the output value and input field
            
            // Set the maximum price slider to a default value of 100000
            document.getElementById("max-price-range").value = document.getElementById("max-price-range").max;
            updateMaxPriceRange(); // Update the output value and input field
        }
    
        function updateMinPriceRange() {
            var slider = document.getElementById("min-price-range");
            var output = document.getElementById("min-price-output");
            output.innerHTML = "$" + slider.value + ".00";
    
            // Set the value of the input field
            document.getElementById("min-price-input").value = slider.value;
        }
    
        function updateMaxPriceRange() {
            var slider = document.getElementById("max-price-range");
            var output = document.getElementById("max-price-output");
            output.innerHTML = "$" + slider.value + ".00";
    
            // Set the value of the input field
            document.getElementById("max-price-input").value = slider.value;
        }
    </script>
{% endblock %}